{% extends 'technics/base.html' %}
{% load static %}
{% block header %} bg1 {% endblock header %}

{% block technics %}
<!--                        Блок вывода элементов модели Technic-->
<div class="left-ads-display col-lg-9">

    <div class="row">

        {% for technic in technics_list %}

        <div class="col-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                {% if technic.photo_main %}
                    <div class="men-thumb-item">
                        <a href="{{ technic.get_absolute_url }}" class="editContent">
                            <img src="{{ technic.photo_main.url }}" class="img-fluid" alt="">
                        </a>
                    </div>
                {% else %}
                    <div class="men-thumb-item">
                        <a href="{{ technic.get_absolute_url }}" class="editContent">
<!--                            Найти подходящее фото по умолчанию, отображаемое если нет у модели-->
                            <img src="{% static 'technics/images/te1.jpg' %}" class="img-fluid" alt="">
                        </a>
                    </div>

                {% endif %}
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{{ technic.get_absolute_url }}" class="editContent">
                            {{ technic.mark }} {{ technic.model }}
                        </a>
                    </h4>

                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ technic.small_description }}</span>
                        </div>
                    </div>
                    <ul class="stars">
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                        <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>
                    </ul>
                </div>
            </div>
        </div>

        {% endfor %}


    </div>
    <div>
          {% include 'include/pagination.html' %}
    </div>
</div>

{% endblock technics %}

