{% load technic_tag %}

<div class="search-bar w3layouts-newsletter">
    <h3 class="sear-head editContent">Поиск техники</h3>
    <form action="{% url 'search' %}" method="get" class="d-flex editContent">
        <input type="search" placeholder="Введите название..." name="q" class="form-control" required="">
        <button type="submit" class="btn1 btn">
            <span class="fa fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>

<form action="{% url 'filter_url' %}" method="get">

    <div class="left-side my-4">
        <h3 class="sear-head editContent">Категория</h3>
        {% get_categories as categories %}
        {% for category in categories %}
            <ul class="w3layouts-box-list">
                <li class="editContent">
                    <input type="checkbox" class="checked" name="category" value="{{ category.id }}">
                    <span class="span editContent">{{ category }}</span>
                </li>
            </ul>
        {% endfor %}
    </div>

    <div class="left-side">
        <h3 class="sear-head editContent">Марка</h3>
        <ul class="w3layouts-box-list">
            {% for mark_it in view.get_mark %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="mark" value="{{ mark_it.id }}">
                    <span class="span editContent">{{ mark_it.mark }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>


    <div class="left-side">
        <h3 class="sear-head editContent">Год</h3>
        <ul class="w3layouts-box-list">
            {% for year_it in view.get_year %}
                <li class="editContent">
                    <input type="checkbox" class="checked" name="year" value="{{ year_it.year }}">
                    <span class="span editContent">{{ year_it.year }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>
    <button type="submit">Найти</button>
</form>

<!-- рейтинг -->
<div class="customer-rev left-side my-4">
    <h3 class="sear-head editContent">Рейтинг</h3>
    <ul class="w3layouts-box-list">
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="editContent">5.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">4.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.5</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">3.0</span>
            </a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star" aria-hidden="true"></span>
                <span class="fa fa-star-half-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="fa fa-star-o" aria-hidden="true"></span>
                <span class="editContent">2.5</span>
            </a>
        </li>
    </ul>
</div>

{% get_last_tech count=3 %}