{% extends 'base.html' %}
{% load static %}
{% block title %} {{ flatpage.title }} {% endblock title %}

{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent"
         style="padding-left: 3rem; padding-right: 3rem;">
        <div class="container">
            <img src="{% static 'technics/images/about_me.JPG' %}" class="img-about" width="300" height="150" alt="">
            <br>
            <div class="row">
                {{ flatpage.content }}
            </div>
        </div>
    </section>
{% endblock content %}
